*.aux
*.glo
*.hd
*.idx
*.ins
*.sty
*.log
*.out
*.gz
*.synctex

.DS_Store
.swp


cooking-units_Kopie.dtx
build

*~

/LOSCHEN
/Tests
/drafts
/self-extracting
/versions
testfiles/Alt
auto/
/translations test

TODO.org
.#TODO.org
Tests.pdf
Tests.tex
cooking-units.toc
